body {
  display: flex;
  flex-direction: column;
  Justify-content: center;
  width: 800px;
  margin: 0 auto;
}
header {
    width: 100%;
  height: 400 px;
  border-top: 3px solid black;
  margin: 20px;
  background-image: url("http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png");
  background-size: 100% 100%;
  box-sizing: border-box;
  background-position: center;
  background-repeat: none;
  color: sith;
}

p {
  margin: 20px;
font-family: 'Josefin Sans', sans-serif;
  color: #222;
}
  h1, h2 {
 font-family: 'Abril Fatface', cursive;
    color: sith;
     margin-left: 200px;
}
h2 { 
  font-size: 26px;
}
h1 { 
  font-size: 20px;
  margin-top: 75px;
}

.blockquote-box {
  background: grey;
  height: 70px;
  position: relative;
  padding: 1px;
  margin-top: 10px;
  margin-left: -20px;
}

blockquote {
  display: block;
  color: white;
  backround: grey;
  position: relative;
  margin: 20px;
}
blockquote::before {
content: '"';
  font-size: 80px;
  color: white;
  margin: -60px;
  margin-top: px;
  width: 100%;
  padding: 5%;
  position: absolute;
}